<nav class="navbar navbar-default navbar-static-top navbar-instructor">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color: #323333">Wanderlocal</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
        <li><a href="/users/sign_in" style="color: #323333">Log In</a></li>
        <li><a href="/users/sign_up" style="color: #323333">Sign Up</a></li>
        <%end %>
        <% if current_user %>
        <li><a href="/users/sign_out" style="color: #323333">Sign Out</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


<%= react_component('ContactInfo',
  contacts: @contacts,
  csrf: form_authenticity_token
) %>
