<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Wanderlocal</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/reviewapps">New Applications</a></li>
        <li><a href="/apps_under_review">Applications Under Review</a></li>
        <li><a href="/acceptedapps">Accepted Applications</a></li>
        <li><a href="/rejectedapps">Rejected Applications</a></li>
        <li><a href="/users/sign_out" style="color: #323333">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<h1 class="applications">There are no apps to view!</h1>
