<h1>activities sorted by <%= @category %></h1>
<br>
<% @activities.each do |activity| %>
<%= activity.title %>
<br>
<%= link_to "Read More", "/individualinstructor/#{activity.instructor_id}" %>
<br>
<br>
<% end %>
<br>
<br>
<%= link_to "Back to Instructors", "/instructors" %>
