<p class="instructors_sign_in">
  <%= link_to "Home", root_path, class: "btn btn-primary" %>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
</p>

<h1 class="instructorsh1">Discover Activities</h1>
<h2 class="instructorsh2">Learn about our instructors and their passions to experience the local lifestyle.</h2>
<br>
<div class="btn-group">
   <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Filter by Activity Type
     <span class="caret"></span>
   </button>
   <ul class="dropdown-menu">
    <li><a href="/filter/cooking">Cooking</a></li>
    <li><a href="/filter/active">Active</a></li>
    <li><a href="/filter/art">Art</a></li>
    <li><a href="/filter/music">Music</a></li>
  </ul>
</div>

<div class = "container">
  <% n = 0 %>
  <% @allinstructors.each do |instructor| %>
    <%= link_to "#{instructor.first_name.capitalize} #{instructor.last_name.capitalize}", "/individualinstructor/#{instructor.id}" %>
    <br/>
    <%= instructor.activity_title.titleize %>
    <br/>
    <br/>
    <% n += 1 %>
  <% end %>

</div>
