// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.applications {
  padding-left: 50px;
  // background-color: #76DB9F;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.btn-admin {
  border-width: 3px;
  border-color: #558691;
  color: #558691;
  background-color: transparent;
}

.btn-admin:hover, .btn-admin:active:focus {
  background-color: #7eaab4;
  border-color: #7eaab4;
  color: white;
}
