.devisebody {
  background-image: none;
  background-color: #ebf0fa;
  .devisecontainer {
    border-radius: 10px;
    background-color: white;
    text-align: left;
    padding-top: 20px;
    text-align: left;
    padding-top: 15px;
    width: 700px;
    padding-bottom: 10px;
    padding-left: 50px;
    margin-left: 50px;
    color: #595959;
  }
}
