// Place all the styles related to the Instructors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-brand {
  font-size: 60px;
  padding-left: 30px;
  color: #ff8e62;
}

.navbar-default {
 color: #ff8e62;
}

.navbar-instructor {
  margin-bottom: 20px;
  background-color: #eff4f6;
  background-color: white;
  border-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  padding-right: 10px;
  color:#ff8e62;
}

.navbar-default {
  background-color: #eff4f6;
  background-color: white;
}

.alert {
  margin-bottom: 0;
  padding: 0;
}

.header {
    font-size: 30px;
    color: white;
    background-color: #76DB9F;
    padding-left: 25px;
    padding-bottom: 10px;
    margin: 0;
    padding-right: 10px;
}

.instructors_sign_in {
  text-align: right;
  padding-right: 15px;
  padding-top: 10px;
  margin-bottom: 0;
  font-size: 30px;
  padding-left: 75%;
}

img {
  width: 100%;
  height: auto;
}

.back_to_instructors {
  padding-top: 10px;
}

.instructorsh1 {
  padding-left: 50px;
  padding-top: 20px;
  margin-bottom: 0;
  margin-top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #595959;
  width: 500px;
}

.instructorsh2 {
  padding-left: 50px;
  font-size: 20pt;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
  color: #595959;
}

.instructorsh3 {
  padding-top: 20px;
  margin-bottom: 0;
  margin-top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #595959;
  width: 500px;
}


.btn-group {
  padding-left: 50px;
  width: 500px;
}

.btn-default {
  border-width: 3px;
  border-color: #afcad0;
  background-color: transparent;
}

.btn-primary {
  border-width: 3px;
  border-color: #eff4f6;
  background-color: transparent;
}

.btn-primary:hover, .btn-primary:active:focus {
  background-color: white;
  border-color: white;
  color: gray;
}

.dropdown-toggle:hover, .btn-review:hover, .btn-review:active:focus, .btn-back:hover, .btn-back:active:focus {
  background-color: #afcad0;
  border-color: #afcad0;
  color: white;
}

.container {
  padding-left: 50px;
  padding-top: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 500px;
}

.instructor_info, .activities {
  padding-top: 10px;
  padding-left: 50px;
}

.container, .instructorsh1,.instructorsh2, .btn-group {
  background-color: white;
  width: 100%;
  padding-right: 30px;
}

.instructors {
  background-color: #ebf0fa;
  width: 100%;
  background-image: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.instructor_name {
  padding-top: 10px;
  margin-bottom: 0px;
}

.col-xs-4 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.col-xs-8 {
  padding-top: 30px;
}

.instructor_container {
  color: #595959;
  border-radius: 10px;
  background-color: white;
  text-align: left;
  padding-top: 20px;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 50px;
  #instructor_activity_photo {
    padding-right: 65px;
    padding-top: 30px;
  }
}
