// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review {
  padding-left: 50px;
  background-color: #76DB9F;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
}

form {
  text-align: left;
  padding-top: 15px;
  padding-left: 50px;
}

.btn-submit {
  margin-top: 3px;
  margin-left: 147px;
}

.btn-submit:hover, .btn-submit:active:focus {
  background-color: #afcad0;
  border-color: #afcad0;
  color: white;
}

textarea {
  resize: none;
  height: 250px;
  width: 230px;
}
