// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review {
  padding-left: 50px;
  background-color: white;
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
  padding-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #595959;
  width: 450px;
  margin-left: 50px;
}

.review_form, .reviewcontainer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  text-align: left;
  padding-top: 20px;
  text-align: left;
  padding-top: 15px;
  width: 450px;
  padding-bottom: 10px;
}

.reviewcontainer {
  padding-left: 50px;
  margin-left: 50px;
}

.reviews {
  background-image: none;
  background-color: #ebf0fa;
  padding-left: 0;
}

.btn-submit {
  margin-top: 3px;
  margin-left: 147px;
}

.btn-submit:hover, .btn-submit:active:focus {
  background-color: #afcad0;
  border-color: #afcad0;
  color: white;
}

textarea {
  resize: none;
  height: 250px;
  width: 230px;
}
