// Place all the styles related to the Schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.schedule_body {
  background-image: none;
  background-color: #ebf0fa;
}

.schedule_container {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  text-align: left;
  padding-top: 20px;
  text-align: left;
  padding-top: 15px;
  width: 700px;
  padding-bottom: 10px;
  padding-left: 50px;
  margin-left: 50px;
}

.schedule_header {
  padding-left: 50px;
  background-color: white;
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
  padding-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #595959;
  width: 700px;
  margin-left: 50px;
}

.schedule {
  padding-left: 50px;
  background-color: white;
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
  padding-top: 10px;
  margin-left: 50px;
  color: #595959;
  width: 700px;
  margin-left: 50px;
}

.input-group-addon {
  height: 20px;
}
