// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// http://pastebin.com/KHAWYA55

.intro, .apply, .stories, .contact{
  text-align: center;
  .sign_in {
    text-align: right;
    padding-right: 60px;
  }
  .intro {
    font-family: calibri;
    font-size: 20pt;
    text-color: white;
  }
  .fp-tableCell {
    padding-top: 35px;
    padding-bottom: 230px;
    // padding-left: 10%;
  }
  h1 {
    text-align: left;
    padding-left: 60px;
    font-size: 45pt;
    padding-bottom: 85px;
    margin-top: 0;
  }
  h2 {
    text-align: left;
    padding-left: 60px;
    font-size: 45pt;
    padding-bottom: 20px;
    margin-top: 0;
  }
  .greeting, .mission_statement, .browse {
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    opacity: .75;
  }
  .greeting {
    font-size: 42pt;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .mission_statement{
    font-size: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .browse {
// This height + (padding * 2) = 80px
.homepage-header {
  position:fixed;
  height: 70px;
  display: block;
  width: 100%;
  z-index: 9;
  text-align: center;
  padding: 5px; // top & bottom = 5 + 5 = 10px
}
  .logo {
    color: #ff8e62;
    font-size: 30pt;
    margin-left: 30px;
    margin-top: 0px;
  }
  .login {
    // text-align: right;
    padding-right: 30px;
    padding-top: 0px;
    margin-top: 7px;
  }
  .intro, .apply, .contact{
    text-align: center;
    width: 45%;
    border-width: 4px;
  }
  .btn-lg {
    margin-left: auto;
    margin-right: auto;
    border-color: white;
    opacity: 20%;
    font-size: x-large;
  }
  .btn-default {
    margin-left: auto;
    margin-right: auto;
    border-color: #76DB9F;
    background-color: #76DB9F;
    font-size: x-large;
  }
  .btn-default:hover, .btn-default:active:focus {
    border-color: #00b38f;
    border-width: 4px;
    color: #00b38f;
    background-color: transparent;
  }
  .button {
    text-size: 50pt;
  }
  .btn-login {
    border-width: 3px;
    border-color:rgb(75, 191, 195);
    color: rgb(75, 191, 195);
    background-color: transparent;
  }
  .contact_header {
    margin-bottom: 150px;
  }
}

.intro {
  font-family: calibri;
  font-size: 30pt;
  font-weight: bold;
  background-image: url("tai_chi.png");
  background-size: cover;

  .intro_info {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.apply {
  background-image: url("plant_talking_instructor.png");
  background-size: cover;
  .apply_content {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.contact {
  background-image: url("beach_walk.png");
  background-size: cover;
  .contact_content {
    margin-top: 20px;
    margin-bottom: 20px;
  }
