// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.intro, .apply, .stories{
  text-align: center;
  .sign_in {
    text-align: right;
    padding-right: 60px;
  }
  .intro {
    font-family: calibri;
    font-size: 20pt;
    text-color: white;
  }
  .fp-tableCell {
    padding-top: 35px;
    padding-bottom: 230px;
    padding-left: 10%;
  }
  h1 {
    text-align: left;
    padding-left: 60px;
    font-size: 45pt;
    padding-bottom: 85px;
    margin-top: 0;
  }
  h2 {
    text-align: left;
    padding-left: 60px;
    font-size: 45pt;
    padding-bottom: 20px;
    margin-top: 0;
  }
  .greeting, .mission_statement, .browse {
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    opacity: .75;
  }

  .greeting {
    font-size: 42pt;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .mission_statement{
    font-size: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .browse {
    font-size: 30pt;
    border-radius: 10px;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .apply, .sign_up {
    font-size: 25pt;
    border-radius: 10px;
    color: white;
  }
  .btn-block {
    text-align: center;
    width: 45%;
    border-width: 4px;

  }
  .btn-lg {
    margin-left: auto;
    margin-right: auto;
    border-color: white;
    opacity: 20%;
    font-size: x-large;
  }
  .btn-default {
    margin-left: auto;
    margin-right: auto;
    border-color: #76DB9F;
    background-color: #76DB9F;
    font-size: x-large;
  }

  .btn-default:hover, .btn-default:active:focus {
    border-color: #00b38f;
    border-width: 4px;
    color: #00b38f;
    background-color: transparent;

  }

  .button {
    text-size: 50pt;

  }

  .btn-login {
    border-width: 3px;
    border-color:rgb(75, 191, 195);
    color: rgb(75, 191, 195);
    background-color: transparent;
  }
}

body {
  background-image: url("https://images.unsplash.com/photo-1423589989400-cc0270157ed0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=74ed0669f62ce934d161079909c707d2");
  background-size: cover;

}
